.button-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.1%;
    margin-top: -10%;
    z-index: 2;


}

.logga{
    display:flex;
    justify-content: center;
    align-items:center;

    margin-bottom: 10%;
    height: 120%;
    z-index: 2;
    
}
#loggaText{
    font-size: 320%;
    overflow-wrap:normal;
    text-align: center;
}

#team {
    margin-top: -10%;
}






.episodePlayButton {
   display: flex;
   justify-content: center;
   align-items: center;

   margin-bottom: 10%;
   margin-top: 10%;
}

