.button-position {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: -10%;
   

    z-index: 6;


}

.logga{
    display:flex;
    justify-content: center;
    align-items:center;
    
    
}
#loggaText{
    font-size: 300%;
}

#team {
    margin-top: -4%;
}

.play-button {

    width: 20%;
    margin-top: 20%;
    margin-left: 2%;
    
}

a:hover {
    background-color: black;


}

.episodePlayButton {
    margin-left: 6%;
    margin-top: 20%;
}

.fina-buttons {

    height: 550px;
    overflow:hidden;


}

